<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bright.bright" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name short="Bright">Bright Special Lighting</name>
    <description>
        BRIGHT SPECIAL LIGHTING S.A. which was founded in 1989 has the most excellent knowledge of lighting technology.
    </description>
    <author email="spiros@overronet.com" href="http://overronet.com">
        Overron
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="SplashScreen" value="screen"/>

    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />

    <platform name="android">
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />

        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/Icon-57.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/Icon-114.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/Icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/Icon-80.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/Icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/Icon-100.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/Icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/Icon-120.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/Icon-180.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/Icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/Icon-144.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/Icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/Icon-152.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/Icon-29.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/Icon-58.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/Icon-87.png" width="87" />
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone_640x960.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad_768x1024.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad_1536x2048.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad_1024x768" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad_2048x1536.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone_640x1136.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-750@2x~iphone6-portrait_750x1334.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-1242@3x~iphone6s-portrait_1242x2208" width="1242" height="2208"/>
    </platform>

    <splash src="splash.png" />


    <access origin="*" />
    <allow-navigation href="*://*.bright.gr/*" />
    <allow-intent href="*://*.bright.gr/eshop/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>